
<h1>Let's play again....</h1>
<h2>Rules are very easy just type Player's input: rock, scissors or paper in url on top of this page.<br>
This should look like http://localhost:4567/play/<span>Player1</span>/<span>Player2</span></h2>
